<main>
  <div class="containerThreads">

    <div class="thread">
      <form action="/create/comment/{{thread._id}}" method="POST">
        <textArea
          id="comment"
          name="comment"
          placeholder="Enter response here"
        ></textArea>
        <input type="submit" value="Submit" />
      </form>
    </div>

    <div class="thread">
      <h2>{{thread.threadName}}</h2>
      <p>{{thread.threadContent}}</p>
      <a class="btn" href="/edit/thread/{{thread._id}}">Edit thread!</a>
      <a class="btn" href="/delete/thread/{{thread._id}}">Delete thread!</a>
    </div>

    <div class="comments">
      <h3>Comments</h3>
      {{#each thread.comments}}
        <div class="comments">
          <p>{{comment}}</p>
          <p><a href="/edit/comment/{{_id}}">Edit</a> | <a href="/delete/comment/{{_id}}">Delete</a></p>
        </div>
      {{/each}}
    </div>

    <div class="thread">
      <form action="/create/comment/{{thread._id}}" method="POST">
        <textArea
          id="comment"
          name="comment"
          placeholder="Enter response here"
        ></textArea>
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</main>