{{!-- <main>
  <div class="containerThreads">
    <div class="thread">
    <h2>{{threadName}}</h2>
      <p>{{threadContent}}</p>
    </div>
    <div class="comments">
      <h3>Comments</h3>
      {{#each comments}}
        <div class="comments">
          <p>
            {{comment}}
          </p>
        </div>
      {{/each}}
        <a href="/create/comment/{{_id}}">Reply</a>
    </div>
  </div>
</main> --}}

<main>
  <div class="containerThreads">

    <div class="thread">
    <form action="/create/comment/{{_id}}" method="POST">
        <textArea id="comment" name="comment" placeholder="Enter response here"></textArea>
        <input type="submit" value="Submit" />
      </form>
      </div>
      <div class="thread">
    <h2>{{threadName}}</h2>
      <p>{{threadContent}}</p>
    </div>
    <div class="comments">
      <h3>Comments</h3>
      {{#each comments}}
        <div class="comments">
          <p>
            {{comment}}
          </p>
        </div>
      {{/each}}
  </div>
</main>