<main>
  <div class="containerTitle">
    <h1>Open Threads</h1>
  </div>
  <div class="containerThreads">
  {{#each threads}}
    <div class="thread">
      <a href="/thread/{{_id}}"><h3>
          {{threadName}}
        </h3></a>
      <h4 id="repliesH5">Replies | {{comments.length}}</h4>
      <h4 id="repliesOutput">{{threadReplyCount}}</h4>
    </div>
  {{else}}
    <div class="thread">
      <p class="thread">No threads available</p>
      <a class="btn" href="/create/thread">Create a thread!</a>
    </div>
  {{/each}}
  </div>
</main>